{% extends 'base.html.twig' %}

{% block title %}Startseite von CartExample{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Top Angebote</h1>
            <p class="fs-5 text-body-secondary">Der chinesische Elektronik-Hersteller Xiaomi wurde 2010 in China gegründet
                und ist mittlerweile einer der größten Smartphone Hersteller der Welt. Xiaomi ist
                unter Technik Enthusiasten weltweit für seine Smartphones bekannt,
                die trotz günstigen Preisen aktuelle High-Tech Hardware Spezifikationen bieten. </p>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.productMainImage.src }}" width="100%" height="auto"
                         alt="{{ product.productMainImage.altText }}" />
                    <div class="card-body">

                        <div class="d-flex justify-content-between align-items-center">
                            <a class="card-text" href="/products/{{ product.id }}">{{ product.name }}</a>
                            <small class="text-body-secondary">ab {{ product.priceFormatted }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
